@import "~bootstrap/scss/bootstrap";

body {
  display: flex;
  flex-direction: column;
  background-color: #cbf5f5;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  @media (max-width: 768px) {
    justify-content: center;
    padding: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  a {
    color: hsl(228, 45%, 44%);
  }
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cbf5f5;
  }
}

.navbar {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  height: 578px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  .list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    .item {
      display:flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .number {
        border: solid 1px #fff;
        border-radius: 100%;
        color: #fff;
        font-size: 14px;
        padding: 14px;
        &.active {
          background-color: #00ffff;
          color: #000;
        }
      }
      .line {
        display: flex;
        flex-direction: column;
        .step {
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          margin: 0;
          padding: 0;
          font-weight: 200;
        }
        .action {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  @media (max-width: 768px) {
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    .list {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 30px;
      left: 30px;
    }
    .line,
    .step,
    .action {
      display: none;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 50px;
  @media (max-width: 768px) {
    border-radius: 20px;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 300px;
    top: 100px;
  }
}

.form_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.next_step {
  margin-top: 20px;
  align-self: flex-end;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b4ce0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.plan {
  align-self: center;
  width: 100%;
}

.plan__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  .plan__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    // plan__item hover
    &:hover {
      border: solid 1px #2b4ce0;
      cursor: pointer;
    }
    &.selected {
      border: solid 1px #2b4ce0;
      background-color: #e5e5e5;
    }
    .plan__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 100px;
      gap: 10px;
      .plan__title {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        margin: 0;
        padding: 0;
      }
      .plan__price {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.plan__btn {
  display: flex;
  justify-content: center;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  background-color: #7fe5ff;
}

.nav__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  .nav__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.add-ons {
  align-self: center;
  width: 100%;
  .add-ons__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
    padding: 0;
    .add-ons__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px #e0e0e0;
      border-radius: 10px;
      padding: 10px 20px;
      .check {
        display: flex;
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

.summary {
  align-self: center;
  width: 100%;
  .summary__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
    padding: 0;
    .summary__items {
      border: solid 1px #d4d4d4;
      border-radius: 10px;
      background-color: #f1efef;
        .summary__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        .check {
          display: flex;
          justify-content: center;
          gap: 30px;
        }
      }
      .summary__item__divider {
        border-bottom: solid 1px #d4d4d4;
        margin: 0 20px;
      }
    }
    .total__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      .summary__item__total {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin: 0;
        padding: 0;
      }
      .summary__item__total__price {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.tks {
  align-self: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .check__subtitle {
      width: 50%;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .plan {
    .plan__list {
      grid-template-columns: 1fr;
      .plan__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .plan__content {
          margin-top: 0;
        }
      }
    }
  }
  .nav__btn {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    background-color: #fff;
    position: relative;
    top: 100px;
    width: 100vw;
    padding: 20px;
    .nav__buttons {
      display: flex;
      justify-content: space-between;
      align-items: space-around;
    }
    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .add-ons {
    .add-ons__list {
      .add-ons__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .check {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 150px;
            font-size: small;
            h2 {
              font-size: medium;
              font-weight: 700;
              color: #000;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .summary {
    .summary__list {
      .summary__items {
        .summary__item {
          gap: 20px;
          .check {
            gap: 20px;
          }
        }
      }
      .total__item {

        .summary__item__total,
        .summary__item__total__price {
          font-size: medium;
          font-weight: 700;
          color: #000;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: #fff;
    border-radius: 20px;
    padding: 20px;
    .form_header{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: #f1efef;
      position: relative;
      top: 100px;
      width: 100vw;
      .next_step {
        justify-self: flex-end;
        margin: 30px;
      }
    }
  }

  .form_footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    position: relative;
    top: 100px;
    width: 100vw;
    .next_step {
      justify-self: flex-end;
      margin: 30px;
    }
  }

  .tks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 100px;
    width: 90vw;
    .content {
      .check__subtitle {
        width: 100%;
        text-align: center;
      }
    }
  }

  .footer {
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .attribution {
      font-size: 11px;
      text-align: center;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}





